[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fastWavelets"]
	path = fastWavelets
	url = https://github.com/johnswyou/fastwavelets
